<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Figuring out shit</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
{% if data.result %}
  <table class="table">
  {% for game in data.result.games %}
  	<tr>
  	  <td>League Id</td>
  	  <td>{{ game.league_id }}</td>
	<tr>
	<tr>
  	  <td>Lobby Id</td>
  	  <td>{{ game.lobby_id }}</td>
	<tr>
	<tr>
  	  <td>People watching this shit</td>
  	  <td>{{ game.spectators }}</td>
	<tr>
	<tr>
  	  <td>Tower Status</td>
  	  <td>{{ game.tower_state }}</td>
	<tr>
    {% for player in game.players %}
      <tr>
    	<td>{{ player.account_id }}</td>
    	<td>{{ player.name }}</td>
    	<td>{{ player.hero_id }}</td>
    	<td>{{ player.team }}</td>
	  </tr>
    {% endfor %}
    <tr>
      <td>Radiant Team Info:</td>
      <td>{{ game.radiant_team.team_name }}</td>
      <td>{{ game.radiant_team.team_id }}</td>
      <td>{{ game.radiant_team.team_logo }}</td>
      <td>{{ game.radiant_team.complete }}</td>
    </tr>
    <tr>
      <td>Dire Team Info:</td>
      <td>{{ game.dire_team.team_name }}</td>
      <td>{{ game.dire_team.team_id }}</td>
      <td>{{ game.dire_team.team_logo }}</td>
      <td>{{ game.dire_team.complete }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <h1>Hello World!</h1>
{% endif %}
</body>
</html>