<div class="container">
	<div class="row">
	  <div class="col-md-1"></div>	      
	  <div class="col-md-10 bg-warning" style="border-radius:5px">

	  	<div class="text-center">
	  		<a href={{ game.tournamentUrl }}>{{ game.leagueName }}</a>
  		</div>
  		<div class="text-center">
  			Number of Spectators: {{ game.numSpectators }}
  		</div>

	    <div class="row">
	      <div class="col-md-4 bg-success">
	      	<div class = "row">
	      		<div class="col-md-10 text-center">
	      			<h4>{{ game.radiantTeamInfo.teamName }}</h4>
      			</div>
      			<div class="col-md-2">
      				<img height="33" src={{ game.radiantTeamInfo.teamLogoSrc }}></img>
  				</div>
  			</div>
			{% for player in game.radiantPlayers %}
  			<div class="row">
  				<div class="col-md-8">
  					<a href={{ player.steamUrl }}>{{ player.name }}</a>
				</div>
				<div class="col-md-4" align="right">
					<img style="border-radius:5px;" src={{ player.heroSrcUrl | lower }}></img>
				</div>
			</div>
			{% endfor %}
	      </div>

	      <div class="col-md-4">
	      	Tower Status: {{ game.towerState }}
	      </div>

	      <div class="col-md-4 bg-danger">
	      	<div class = "row">
      			<div class="col-md-2">
      				<img height="33" src={{ game.direTeamInfo.teamLogoSrc }}></img>
  				</div>
	      		<div class="col-md-10 text-center">
	      			<h4>{{ game.direTeamInfo.teamName }}</h4>
      			</div>
  			</div>
			{% for player in game.direPlayers %}
  			<div class="row">
				<div class="col-md-4">
					<img style="border-radius:5px;" src={{ player.heroSrcUrl | lower }}></img>
				</div>
  				<div class="col-md-8 text-right">
  					<a href={{ player.steamUrl }}>{{ player.name }}</a>
				</div>
			</div>
			{% endfor %}
	      </div>
	    </div>

		{% if game.broadcastPlayers %}
		<div class="row">
			<div class="col-md-3">Broadcasters:</div>
			<div class="col-md-9">
				<div class="row">
					{% for player in game.broadcastPlayers %}
						<div class="col-md-4"><a href={{ player.steamUrl }}>{{ player.name }}</a></div>
					{% endfor %}
				</div>
			</div>
		</div>
        {% endif %}

        {% if game.unassignedPlayers %}
		<div class="row">
			<div class="col-md-3">Unassigned:</div>
			<div class="col-md-9">
				<div class="row">
					{% for player in game.unassignedPlayers %}
						<div class="col-md-4"><a href={{ player.steamUrl }}>{{ player.name }}</a></div>
					{% endfor %}
				</div>
			</div>
		</div>
        {% endif %}
	  </div>
	</div>
	<div class="col-md-1"></div>	      
</div>